      <form class="form-horizontal" name="input_form" ng-submit="doHash()" >
        <div class="input-prepend mainform">
          <span class="add-on add-on-front"
                ui-jq="popover" 
                ui-options="{placement:'right', trigger:'hover'}"
                data-original-title="The key for this site.">
            Site/Key
          </span>
          <input type="text" placeholder="google.com "ng-model='site'
                 required autofocus />
        </div>
        <div class="input-prepend mainform">
          <span class="add-on add-on-front"
              ui-jq="popover" 
              ui-options="{placement:'right', trigger:'hover'}"
              data-original-title="The secret passcode you want to use to generate the password" 
            >Secret</span>
          <input ng-model="password" type="password" required />
        </div>
          <div class='control'>
            <input type="submit" class="btn" value="Hash!"/>
          </div>
      </form>
      <div id="result" ng-show="showResults()">
        <table cellspacing="0" class="hashlist table table-striped">
          <thead>
            <tr>
              <th>Generated passwords</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="hash in hashList">
              <td>
                <span class="hash">{{hash}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
