<!doctype html>
<html ng-app="UnobtrusivePasswords" ng-csp>
  <head>
    <title>Simple Password Hasher</title>
    <link rel='stylesheet', href="angular-ui.min.css" />
    <link rel='stylesheet', href="bootstrap.min.css" />
    <link rel='stylesheet', href="popup.css" />

    <!-- JavaScript and HTML must be in separate files for security. -->
    <script src="sha256-hmac.js"></script>
    <script src="sha256.js"></script>
    <script src="enc-base64.js"></script>
    <script src="jquery.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="angular-ui.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="unobtrusive.js"></script>
  </head>
  <body ng-controller="UnobtrusiveCtrl">
    <div class='main'>
      <form class="form-inline" name="input_form" ng-submit="doHash()" >
        <input type="text" class="input-medium" placeholder="Site/Key" ng-model="site" required/>
        <input type="password" class="input-small" placeholder="Password" ng-model="password" required/>
        <label class="checkbox">
          <input type="checkbox" ng-model='save'/> Save 
        </label>
        <input type="submit" class="btn" value="Hash!"/>
      </form>
      <div id="result" ng-show="haveResult">
        <table cellspacing="0" class="hashlist table table-striped">
          <thead>
            <tr>
              <th>Generated password</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="hash in hashList">
              <td>
                <span class="hash">{{hash}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
